{% extends 'recipes/base.html' %} {% block container %} {% csrf_token %}
<div class="card">
  {% for recipe in recipes %}
  <img
    class="card-img-top"
    src="{{ recipe.images.url }}"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title">{{recipe.title}}</h5>
    <h5 class="card-title">{{recipe.description}}</h5>
    <p class="card-text">{{recipe.ingredients}}</p>
    <p class="card-text">{{recipe.process}}</p>
    <h6 class="card-text" style="float: right;">
      Puntuacion {{recipe.puntuation}}
    </h6>
  </div>
  <div class="card-body">
    <p class="card-text">
      <small class="text-muted"> created {{recipe.created}}</small>
      <small class="text-muted"> Last updated{{recipe.modified}}</small>
    </p>
    <a href="#" class="btn btn-success" style="float: right;">Descargar PDF</a>
  </div>
  {% endfor %}
</div>
{% endblock %}
