{% extends 'recipes/base.html' %} {% block head_content %}
<title>Recetario</title>
{% endblock%}
{% block container %}
<h1>
  Recetario
</h1>
    <div class="card-deck">
        {% for recipe in recipes %}
    <div class="card">
        <img class="card-img-top" src="{{ recipe.images.url }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{recipe.title}}</h5>
          <p class="card-text">{{ recipe.description }}</p>
          <p class="card-text">{{recipe.puntaje}}</p>
        </div>
        <div>
            <a href={% url 'recipes:individual' %} class="btn btn-success">Abrir</a>
        </div>
      </div>
    {% endfor %}
    </div>
  {% endblock %}
</h1>
