{% extends 'recipes/base.html' %} {% block head_content %}
<title>Recetario</title>
{% endblock%}
{% block container %}
<h1>
  Recetario
</h1>
    <div class="card-deck">
        {% for recipe in recipes %}
    <div class="card">
        <img src="{{ recipe.images }}" alt="{{recipe.images}}" style="width:150px;"/>
        <div class="card-body">
        <h5 class="card-title">{{ recipe.title}}</h5>
        <p class="card-text">{{ recipe.description }}</p>
        <a href="#" class="btn btn-primary">Button</a>
        </div>
        <div class="card-footer">
        </div>
    </div>
    {% endfor %}
    </div>
  {% endblock %}
</h1>
