{% extends 'users/base.html' %}
{% load static %}
{% comment %} Importa todo {% endcomment %}
{% block head_content %}
<title>Login</title>
{% endblock%}

{% block container %}
<form method="POST">
        {% csrf_token %}
        <h3 class="mt-5 text-center">Iniciar sesión</h3>
        <hr />
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="username"
            aria-describedby="username"
            placeholder="Nombre de usuario"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Contraseña"
          />
          <a class="float-right" href="{% url 'users:registrar' %}" style="padding: 10px">Registrate</a>
        </div>
        <button type="submit" class="btn btn-warning btn-block">
          Ingresar
        </button>
        {% if errors %}
          <p class="alert alert-danger mt-3">{{ errors }}</p>
        {% endif %}
  </form>
    
{% endblock %}
